/Library/
/.vscode/
/.idea/
/my-own-platformer.sln
*.csv
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Logs/
Temp/
my-own-platformer.sln.DotSettings.user
obj/
videos
/Packages/com.florian-mehnert.*