[submodule "Assets/SceneConnections"]
	path = Packages/com.florian-mehnert.scene-connections
	url = git@github.com:FlorianMehnert/SceneConnections.git
[submodule "Assets/3DConnections"]
	path = Packages/com.florian-mehnert.3d-connections
	url = git@github.com:FlorianMehnert/3DConnections.git
