/my-own-platformer.sln
*.csv
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
my-own-platformer.sln.DotSettings.user
obj/
videos
/Packages/com.florian-mehnert.*

# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
/.utmp/*
WebGL Builds/
unity_connections_Data/*
*.blob
*.zip
lib_burst_generated.txt
libdecor-*
unity_connections.x86_64
*.so


# IDE generated
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Other
*.dll

# Release builds
v0.*

# allow working on both SceneConnections and the 3DConnections extensions
Assets/3DConnections*
Assets/SceneConnections*